# Data Cleaning Step

# Table of Contents:
* [1. Importing relevant libraries](#point_1)
* [2. Preliminary Data Cleaning](#point_2)
   * [2.1 Combining the different job title datasets](#point_2_1)
   * [2.2 Checking Null Values](#point_2_2)
   * [2.3 Data Transformation for Null Values](#point_2_3)
   * [2.4 Handling the different permutation of Job Titles](#point_2_4)
   * [2.5 Cleaning the company text entries](#point_2_5)
   * [2.6 Sorting through description to get Technical Skills](#point_2_6)
   * [2.x Send Clean dataframe to excel file for data analysis](#point_2_x)
   
   
* [3. Salary Information](#point_3)

<a id="point_1"></a>
# 1. Importing Relevant Libraries

In [83]:
"""Data Science Packages"""
import numpy as np
import pandas as pd

"""Data Visualisation Packages"""
import matplotlib.pyplot as plt
import seaborn as sns

<a id="point_2"></a>
# 2. Preliminary Data Analysis

<a id="point_2_1"></a>
## 2.1 Combining the different job title datasets

In [84]:
df1 = pd.read_csv('Glassdoor Data Scientist Jobs.csv')
df2 = pd.read_csv('Glassdoor Data Engineer Jobs.csv')
df3 = pd.read_csv('Glassdoor Data Analyst Jobs.csv')
df4 = pd.read_csv('Glassdoor Business Intelligence Analyst Jobs.csv')
df5 = pd.read_csv('Glassdoor Quantitative Analyst Jobs.csv')
df6 = pd.read_csv('Glassdoor Technology Consultant Jobs.csv')
df7 = pd.read_csv('Glassdoor Machine Learning Engineer Jobs.csv')

In [85]:
df = pd.concat([df1, df2, df3, df4, df5,df6, df7], axis=0)
df.head()

,Unnamed: 0,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,We are looking for Data Scientists who are int...,3.6,GovTech\n3.6,Singapore,"Singapore, Singapore",1001 to 5000 employees,2016,Government,Government Agencies,Government,Unknown / Non-Applicable,-1
1,1,Data Scientist,Location:\nSingapore\n\nGeography:\nAsia Pacif...,4.3,Boston Consulting Group\n4.3,Singapore,"Boston, MA",10000+ employees,1963,Company - Private,Consulting,Business Services,$10 to $25 million (SGD),"McKinsey & Company, Bain & Company, Accenture"
2,2,Data Scientist - Customer Experience Group,Data Scientist\n\nSingapore\n\nDell provides t...,4.1,Dell Technologies\n4.1,Singapore,"Round Rock, TX",10000+ employees,1984,Company - Public,IT Services,Information Technology,$10+ billion (SGD),"IBM, Apple, HP Inc."
3,3,Sr. Data Scientist Smart Home,The Dash Replenishment Service (DRS) is an inn...,4.1,Amazon\n4.1,"Singapore, SG","Seattle, WA",10000+ employees,1994,Company - Public,Internet,Information Technology,$10+ billion (SGD),"Google, Microsoft, Walmart"
4,4,Data Scientist,Analytics\nData Scientist - QuantumBlack\n\nSi...,4.1,QuantumBlack\n4.1,Singapore,"London, United Kingdom",501 to 1000 employees,2009,Company - Private,Consulting,Business Services,Unknown / Non-Applicable,"Palantir Technologies, Google, Microsoft"

<a id="point_2_2"></a>
## 2.2 Checking Null Values
The Null Values as we defined in the Data Collection notebook will be of value -1. Therefore, we would like to identify the number of rows that has the value of -1, indicating null values.

In [86]:
column_names = df.columns
print(column_names)

Index(['Unnamed: 0', 'Job Title', 'Job Description', 'Rating', 'Company Name',
       'Location', 'Headquarters', 'Size', 'Founded', 'Type of ownership',
       'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [87]:
for that_column in column_names:
    
    seriesObj = df[that_column].apply(lambda x: str(x) == "-1")
    numOfRows = len(seriesObj[seriesObj == True].index)
    print(that_column + " has " + str(numOfRows) + " empty rows")

Unnamed: 0 has 0 empty rows
Job Title has 0 empty rows
Job Description has 0 empty rows
Rating has 0 empty rows
Company Name has 0 empty rows
Location has 0 empty rows
Headquarters has 757 empty rows
Size has 752 empty rows
Founded has 1615 empty rows
Type of ownership has 752 empty rows
Industry has 1494 empty rows
Sector has 1495 empty rows
Revenue has 753 empty rows
Competitors has 3185 empty rows

**Findings:** We realise that there are empty rows in Headquarters, Size, Founded, Type of Ownership, Industry, Type of ownership, industry, sector, revenue and Competitors.

<a id="point_2_3"></a>
## 2.3 Data Transformation for Null Values
After we determine the columns that has the null values, we'll subsequently decide how do we handle this null values. We first need to calculate some statistics to determine if we should fill it in with pre-determined values or remove these columns

###  Removing Unecessary Columns
We realise that there are certain columns that has a high number of missing values, where some are more than half of dataset, and there's no meaningful value that we can fill in that would be realistic.

In [88]:
df.drop(['Competitors'], axis=1).head()

,Unnamed: 0,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,0,Data Scientist,We are looking for Data Scientists who are int...,3.6,GovTech\n3.6,Singapore,"Singapore, Singapore",1001 to 5000 employees,2016,Government,Government Agencies,Government,Unknown / Non-Applicable
1,1,Data Scientist,Location:\nSingapore\n\nGeography:\nAsia Pacif...,4.3,Boston Consulting Group\n4.3,Singapore,"Boston, MA",10000+ employees,1963,Company - Private,Consulting,Business Services,$10 to $25 million (SGD)
2,2,Data Scientist - Customer Experience Group,Data Scientist\n\nSingapore\n\nDell provides t...,4.1,Dell Technologies\n4.1,Singapore,"Round Rock, TX",10000+ employees,1984,Company - Public,IT Services,Information Technology,$10+ billion (SGD)
3,3,Sr. Data Scientist Smart Home,The Dash Replenishment Service (DRS) is an inn...,4.1,Amazon\n4.1,"Singapore, SG","Seattle, WA",10000+ employees,1994,Company - Public,Internet,Information Technology,$10+ billion (SGD)
4,4,Data Scientist,Analytics\nData Scientist - QuantumBlack\n\nSi...,4.1,QuantumBlack\n4.1,Singapore,"London, United Kingdom",501 to 1000 employees,2009,Company - Private,Consulting,Business Services,Unknown / Non-Applicable

<a id="point_2_4"></a>
## 2.4 Handling the different permutation of Job Titles
Now that we have handled the null values, we need to ensure that the number of job titles is managed. Companies have different naming structure and style for their job titles and would include various nuances to reflect the specificity of the job. However, this would make the sorting of the job title difficult, therefore we would need to create an algorithm that takes the spits out the job title that we have listed here:
<br> Job Title:  ['Data Scientist', 'Data Scientist', 'Data Engineer', 'Data Engineer', 'Data Analyst', 'Data Analyst', 'Quantitative Analyst', 'Technology Consultant', 'Technology Consultant']

### Simplifying the Job Title

In [89]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'Data Scientist'
    elif 'data engineer' in title.lower():
        return 'Data Engineer'
    elif 'data analyst' in title.lower():
        return 'Data Analyst'
    elif 'technology analyst' in title.lower():
        return 'Technology Analyst'
    elif 'machine learning' in title.lower():
        return 'Machine Learning Engineer'
    elif 'manager' in title.lower():
        return 'Manager'
    elif 'director' in title.lower():
        return 'Director'
    else:
        return 'na'
    
#Title Simplifier
df['Job Title Simplified'] = df['Job Title'].apply(title_simplifier)
df['Job Title Simplified'].value_counts()

na                           2351
Data Scientist                925
Data Analyst                  477
Data Engineer                 440
Manager                       129
Machine Learning Engineer      61
Director                       17
Name: Job Title Simplified, dtype: int64

**Findings:** We realise that there's a large number of results that do not fit our search parameters and do not have our keywords inside, therefore we'll drop these rows to improve the relevance and accuracy of our dataset.

In [90]:
#We drop the roles that do not fit our search keyword parameters
df = df[df['Job Title Simplified'] != 'na']
df['Job Title Simplified'].value_counts()

Data Scientist               925
Data Analyst                 477
Data Engineer                440
Manager                      129
Machine Learning Engineer     61
Director                      17
Name: Job Title Simplified, dtype: int64

All 'na' rows are dropped.

### Simplifying the seniority level

In [91]:
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'sr' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
            return 'Senior'
    else:
        return 'Junior'

In [92]:
#Seniority Simplifier
df['Seniority'] = df['Job Title'].apply(seniority)
df['Seniority'].value_counts()

Junior    1558
Senior     491
Name: Seniority, dtype: int64

<a id="point_2_5"></a>
### 2.5 Cleaning the company text entries
We realised that the company entries have the break line code('/n'), however we do not want that in our text file, therefore we apply a function to remove the break line code.

In [95]:
df['Job Description'] = df['Job Description'].apply(lambda x: x.replace('\n', ''))

<a id="point_2_6"></a>
### 2.6 Sorting through description to get Technical Skills
Often times, companies have a set of technical skills that they desire in their staff such as Python, AWS and Spark. Therefore, we shall search through the description and identify these skills.

In [96]:
#AWS
def get_technical_skills_aws(x):
    x1 = str(x)
    if "aws" in x1.lower():
        return 1
    else:
        return 0
df['AWS'] = df['Job Description'].apply(get_technical_skills_aws)

#Excel
def get_technical_skills_excel(x):
    x1 = str(x)
    if "excel" in x1.lower():
        return 1
    else:
        return 0
df['Excel'] = df['Job Description'].apply(get_technical_skills_excel)

#Python
def get_technical_skills_python(x):
    x1 = str(x)
    if "python" in x1.lower():
        return 1
    else:
        return 0
df['Python'] = df['Job Description'].apply(get_technical_skills_python)

#R
def get_technical_skills_r(x):
    x1 = str(x)
    if "r" in x1.lower():
        return 1
    else:
        return 0
df['R'] = df['Job Description'].apply(get_technical_skills_r)

#Spark
def get_technical_skills_spark(x):
    x1 = str(x)
    if "spark" in x1.lower():
        return 1
    else:
        return 0
df['Spark'] = df['Job Description'].apply(get_technical_skills_spark)

#Hadoop
def get_technical_skills_hadoop(x):
    x1 = str(x)
    if "hadoop" in x1.lower():
        return 1
    else:
        return 0
df['Hadoop'] = df['Job Description'].apply(get_technical_skills_hadoop)

#Scala
def get_technical_skills_scala(x):
    x1 = str(x)
    if "scala" in x1.lower():
        return 1
    else:
        return 0
df['Scala'] = df['Job Description'].apply(get_technical_skills_scala)

#SQL
def get_technical_skills_sql(x):
    x1 = str(x)
    if "sql" in x1.lower():
        return 1
    else:
        return 0
df['SQL'] = df['Job Description'].apply(get_technical_skills_sql)

<a id="point_2_7"></a>
### 2.6 Sorting through description to get Academic Skills
Often times, companies have a set of Academic skills that they desire in their staff such as Statistics and Machine Learning. Therefore, we shall search through the description and identify these skills.

In [99]:
#Multivariate Calculus
def get_technical_skills_calculus(x):
    x1 = str(x)
    if "multivariate calculus" in x1.lower():
        return 1
    else:
        return 0
df['Multivariate Calculus'] = df['Job Description'].apply(get_technical_skills_calculus)

#Database Management
def get_technical_skills_database(x):
    x1 = str(x)
    if "database management" in x1.lower():
        return 1
    else:
        return 0
df['Database Management'] = df['Job Description'].apply(get_technical_skills_database)

#Machine Learning
def get_technical_skills_ml(x):
    x1 = str(x)
    if "machine learning" in x1.lower():
        return 1
    else:
        return 0
df['Machine Learning'] = df['Job Description'].apply(get_technical_skills_ml)

#Statistics
def get_technical_skills_stats(x):
    x1 = str(x)
    if "stats" in x1.lower():
        return 1
    else:
        return 0
df['Statistics'] = df['Job Description'].apply(get_technical_skills_stats)

#DevOps
def get_technical_skills_devops(x):
    x1 = str(x)
    if "devops" in x1.lower():
        return 1
    else:
        return 0
df['DevOps'] = df['Job Description'].apply(get_technical_skills_devops)

In [104]:
df['Location'].tolist

<bound method IndexOpsMixin.tolist of 0          Singapore
1          Singapore
2          Singapore
3      Singapore, SG
4          Singapore
           ...
577        Singapore
579        Singapore
586        Singapore
588        Singapore
597        Singapore
Name: Location, Length: 2049, dtype: object>

<a id="point_2_x"></a>
### 2.x Send Clean dataframe to excel file for data analysis

In [ ]:
df.to_excel('Job_dataset.xlsx')

<a id="point_3"></a>
## 3. Salary Information
The salary information that we obtained has been cleaned and visualized on the Glassdoor salary section. Therefore, we have manually pulled the data out of the website, with the different position levels, pay, number of respondents and the number of listed jobs for that particular position.

In [5]:
salary_data = {'Job Title':  ['Data Scientist', 'Data Scientist', 'Data Engineer', 'Data Engineer', 'Data Analyst', 'Data Analyst', 'Quantitative Analyst', 'Technology Consultant', 'Technology Consultant'],
        'Position Level': ['Senior', 'Junior', 'Senior', 'Junior','Senior', 'Junior', 'General', 'Senior', 'Junior'],
        'Average Base Pay': [118000, 52200, 78000, 48000, 57600, 51800, 120000, 84000, 75600],
        'Number of Respondents': [4, 3, 4, 1, 12, 33, 9, 1, 9],
        'Number of Listed Jobs': [928, 568, 1051, 4334, 923, 252, 512, 821, 1902]
        }

salary_df = pd.DataFrame (salary_data, columns = ['Job Title', 'Position Level', 'Average Base Pay', 'Number of Respondents','Number of Listed Jobs'])
salary_df

,Job Title,Position Level,Average Base Pay,Number of Respondents,Number of Listed Jobs
0,Data Scientist,Senior,118000,4,928
1,Data Scientist,Junior,52200,3,568
2,Data Engineer,Senior,78000,4,1051
3,Data Engineer,Junior,48000,1,4334
4,Data Analyst,Senior,57600,12,923
5,Data Analyst,Junior,51800,33,252
6,Quantitative Analyst,General,120000,9,512
7,Technology Consultant,Senior,84000,1,821
8,Technology Consultant,Junior,75600,9,1902

In [6]:
#Sending the salary dataframe into an excel file to be used
salary_df.to_excel('Salary by title.xlsx')